.AboutContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FFF9F3;
    padding:5rem 8rem 15rem 8rem ;
}

.AboutLeft {
    flex: 1;
    position: relative;
}

.AboutRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.AboutImg {
    position: relative;
    width: 30rem;
    border-radius: 2rem;
}

.address {
    width: 25rem;
    position: absolute;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    left: 12rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    top: 25rem;
    z-index: 5;
}
.add img{
    width: 2rem;
}
.add {
    display: flex;
    gap: 1.2rem;
}