.manuContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem 0;

}

.manus {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 3rem;
    margin: 1rem;
}

.manu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    gap: 1rem;
    text-align: center;
    /* border: 2px solid black; */
}

.ManuImg {
    width: 16rem;
    border-radius: 2rem;
}

.burgerPage {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 5rem 0;
}

.burgerText {
    flex: 1;
    background-color: #FF7629;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 6rem;
    height: 46rem;

}


.burgerImg {
    flex: 1;
}

.burgerImg img {
    width: 55vw;
    height: 46rem;
    
}