nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: DM Sans;
    margin: 1.5rem 8rem;
}

nav .navRight {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
.orderBtn{
    margin: 0;
    margin-right: 2rem;

}


.NavRight,
.navLeft,
.Logo {
    cursor: pointer;

}

.NavLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.NavLinks li {
    list-style: none;
}


.navLeft {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 20px;
    color: #696969;
}

ul li a {
    text-decoration: none;
    padding: 1rem;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 1.3rem;
    color: #696969;
}
button a{
    text-decoration: none;
    list-style: none;
    color: #696969;

}